/* compass */
/* line 17, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* setup */
/* @group styling */
/* @end */
/* @group media queries */
/* @end */
/* @group animations */
/* @end */
/* layout */
/* @group general styling */
/* line 2, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 7, ../sass/_base.scss */
body {
  font-family: 'Source Sans Pro', 'PT Sans', sans-serif;
  color: #000;
  margin: 40px auto;
  max-width: 960px;
  width: 100%;
  text-align: center;
}

/* line 16, ../sass/_base.scss */
h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
}

/* line 23, ../sass/_base.scss */
strong {
  font-style: bold;
  font-weight: 700;
}

/* line 28, ../sass/_base.scss */
p {
  line-height: 1.4;
}

/* line 32, ../sass/_base.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 37, ../sass/_base.scss */
::selection {
  background: #9fdbdf;
}

/* line 41, ../sass/_base.scss */
::-moz-selection {
  background: #9fdbdf;
}

/* @end */
/* @group additional styling */
/* line 48, ../sass/_base.scss */
.hide {
  display: none;
}

/* line 52, ../sass/_base.scss */
.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* @end */
/* @content */
/* line 2, ../sass/_content.scss */
.button-input {
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-in-out 0;
  -o-transition: all 0.2s ease-in-out 0;
  transition: all 0.2s ease-in-out 0;
  font-family: 'Source Sans Pro', 'PT Sans', sans-serif;
  background-color: #eee;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 #ccc;
  color: #999;
  display: inline-block;
  height: 40px;
  line-height: 1.5;
  margin: 30px 5px;
}
/* line 19, ../sass/_content.scss */
.button-input:focus {
  outline: none;
}
/* line 23, ../sass/_content.scss */
.button-input:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* line 33, ../sass/_content.scss */
#uploaded-file {
  width: 85%;
  max-width: 960px;
  margin: 20px auto;
}
/* line 38, ../sass/_content.scss */
#uploaded-file img {
  width: 100%;
  height: auto;
}
/* line 43, ../sass/_content.scss */
#uploaded-file object {
  width: 100%;
  height: 450px;
}

/* @end */
