/* @group styling */
	@mixin center-element($width, $height) {
		$left-margin: -($width / 2);
		$top-margin: -($height / 2);
		margin: $top-margin 0 0 $left-margin;
		left: 50%;
		position: absolute;
		top: 50%;
	}
/* @end */

/* @group media queries */
	@mixin respond-to($query) {
		@media only screen and #{$query} {
			@content;
		}
	}
/* @end */

/* @group animations */
	@mixin keyframes($animation-name) {
		@-o-keyframes $animation-name {
			@content;
		}
		@-moz-keyframes $animation-name {
			@content;
		}
		@-webkit-keyframes $animation-name { 
			@content;
		} 
		@-keyframes $animation-name {
			@content;
		}
	}

	@mixin animation($values) {
		-o-animation: $values;
	  	-moz-animation: $values;
	  	-webkit-animation: $values;
	 	animation: $values;
	}
/* @end */