$violet: #c6d2e3;
$blue: #9fdbdf;
$yellow: #ff0;
$grey: #ddd;
$breakpoint-3: '(max-width: 800px)';
$breakpoint-2: '(max-width: 600px)';
$breakpoint-1: '(max-width: 400px)';

$panel-top-margin: 75px;
$panel-left-margin: 125px;